<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New note</title>
</head>
<body>
    <h1>New note</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="color">Color: </label>
        <select name="color" id="color">
            <option value="W">White</option>
            <option value="B">Blue</option>
            <option value="R">Red</option>
            <option value="G">Green</option>
            <option value="Y">Yellow</option>
        </select>
        <input type="submit" value="Create">
    </form>
</body>
</html>