<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes list</title>
</head>
<body>
    {% for note in notes %}
        <div style="background-color: {{ note.get_color_display }};">
            <h1>
                <a href="{% url 'notes:note-detail' note.pk %}">{{ note.name }}</a>            
            </h1>
        </div>
    {% endfor %}
</body>
</html>